<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
</head>
<body>
<div class="container">
    <h1>Публікації на кожень день</h1>
    <hr />
    <ul>
        <li><a th:href="@{/posts/create}">Створити Пост</a></li>
    </ul>
    <div class="posts-container">
        <div class="post" th:each="post : ${posts}">
            <h2><a th:href="@{'/posts/' + ${post.id}}" th:text="${post.title}">тітлє</a></h2>
             <h5 th:text="'Автор блогу ' + ${post.account.firstName}">Імя Автора</h5>
            <h5 th:text="'Дата ' + ${post.createdAt}">Дата створення</h5>
            <p th:text="${post.body}">Текст публікації</p>
            <br  />
        </div>
    </div>
    <hr />
    <ul sec:authorize="!isAuthenticated()">
        <li><a th:href="@{/register}">Регістрація</a></li>
        <li><a th:href="@{/login}">Вхід до акаунту</a></li>
    </ul>
    <div sec:authorize="isAuthenticated()">
        <form class="#"
              th:action="@{/logout}"
              method="POST">
            <div >
                <label>Привіт, <span sec:authentication="name">Username</span></label>
            </div>
            <button type="submit">Вийти</button>
        </form>
    </div>
</div>

</body>
</html>